
html, body
  width: 100%
  height: 100%

*
  font-family: 'Lora', serif

div.entry-container
  margin: 0px
  padding: 0px 15%

  h1#title
    a
      color: black
      &:hover, &:active
        text-decoration: none
